<div>
<div id="googleMap" style="width:500px;height:500px;"></div>
<input type="hidden" value="<%= @pitch.lat %>" id="pitch_lat">
<input type="hidden" value="<%= @pitch.lng %>" id="pitch_lng">

</div>