<% provide(:title, @user.name) %>
<div class="row">
       <%= image_tag @user.picture.url %>
  <div class ="user_infomation"><span class="glyphicon glyphicon-user"></span>
  <%= @user.name %></br>
  <span class ="glyphicon glyphicon-envelope"></span>
  <%= @user.email %></br>
  <span class ="glyphicon glyphicon-phone"></span>
  <%= @user.phone %></br>
  </div>
</div>