<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4 ">
    <div  class="user_info">
       <%= image_tag @user.picture.url %>
    </div >
  </aside>
  <div class ="col-md-4"><span class="glyphicon glyphicon-search"></span><%= @user.name %> </div>
</div>